# Hetzner Cloud
hcloud_server_type: "cx32"
hcloud_datacenter: "fsn1-dc14"
hcloud_image: "docker-ce"
hcloud_pub_ssh_key: "~/.ssh/id_rsa.pub"

# GitLab Terraform State Backend
tf_address: "https://gitlab.com/api/v4/projects/xxxxx/terraform/state/default"
tf_lock_address: "https://gitlab.com/api/v4/projects/xxxxxx/terraform/state/default/lock"
tf_username: "xxxxxx"
tf_password: "glpat-xxxxxxx"

# CloudFlare DNS - OPTIONAL
cf_api_token: "xxxxxxxx"
cf_zone: "example.com"
cf_record: "factorio" #Subdomain

# factorio
factorio_servername: "<your_servername>"
factorio_username: "<your_username>"
factorio_token: "<your_factorio_token>"
factorio_whitelist: ["list","of","players"] - optional
factorio_banlist: ["list","of","players"] - optional
factorio_adminlist: ["list","of","players"] - optional
factorio_serverpassword: "<your_server_password>"
