---
services:
  factorio:
    image: factoriotools/factorio:{{ factorio_version | default('stable') }}
    container_name: factorio
    ports:
     - "34197:34197/udp"
     - "27015:27015/tcp"
    volumes:
     - /opt/factorio:/factorio
    environment:
      - SAVE_NAME="ansible_managed_save"
