---
services:
  factorio:
    image: factoriotools/factorio:{{ factorio_version | default('stable') }}
    container_name: factorio
    ports:
     - "34197:34197/udp"
     - "27015:27015/tcp"
    volumes:
     - /opt/factorio:/factorio
    environment:
      - INSTANCE_NAME="{{ factorio_servername | default('HCloud Factorio Server') }}"
      - SAVE_NAME="ansible_managed_save"
      {% if factorio_username is defined %}
      - USERNAME="{{ factorio_username }}"
      {% endif %}
      {% if factorio_token is defined %}
      - TOKEN="{{ factorio_token}}"
      {% endif %}
